mat-form-field {
  width: 100%;
}
textarea {
  width: 100%;
}

button {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

mat-spinner {
  margin: 0 auto;
  display: block;
}

input[type="file"] {
  visibility: hidden;
}
